*.o
*.ko
*.order
*.symvers
*.mod.c
*.mod
*.cmd
.tmp_versions/
modules.builtin
modules.builtin.modinfo
vmlinux
vmlinux.o
Image
Image.gz
Image.gz-dtb
dtbs/
*.dtb
*.dts.tmp
.vscode/
.idea/
*.swp
.config
.config.old
include/config/
include/generated/
arch/arm64/include/generated/
